aiohappyeyeballs
aiohttp
aiosignal
altgraph
antlr4-python3-runtime
async-timeout
attrs
beautifulsoup4
cachetools
certifi
charset-normalizer
colorama
datasets
dill
faiss-cpu
filelock
frozenlist
fsspec
future
graphviz
huggingface-hub
hydra-core
idna
intel-cmplr-lib-ur
intel-openmp
Jinja2
joblib
MarkupSafe
mpmath
multidict
multiprocess
networkx
nomkl
numpy
omegaconf
opencv-python
packaging
pandas
pefile
Pillow
plotly
pyarrow
pyinstaller
pyinstaller-hooks-contrib
python-dateutil
pytz
pywin32-ctypes
PyYAML
regex
requests
safetensors
scikit-learn
scipy
segment-anything
sentence-transformers
six
soupsieve
sympy
tenacity
threadpoolctl
tokenizers
torch
torchinfo
torchvision
tqdm
transformers
ttkwidgets
typing_extensions
tzdata
Unidecode
urllib3
xxhash
yarl
